
.game-loop-content {

}

.game-loop-start {
    background-color: red;
    border-radius: 10px 10px 10px 0;
    padding: 10px;

    .game-loop-label {
        min-width: max-content;
    }
}

.game-loop-body {
    background-color: red;
    padding-left: 5px;
}

.game-loop-body-content {
    background-color: #424242;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

.game-loop-end {
    background-color: red;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    text-align: center;
}