
.basic-mode-content {
    display: initial;
}

.basic-mode-content-gt-sm {
    
    .mat-sidenav {
        width: 50%;
    }
}

.basic-mode-map {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.side-nav-container {
    height: 100%;
}

.show-pannel-icon {
    position: relative;
    float: right;
    padding: 7px;
    z-index: 10;
    color: black;
    cursor: pointer;
}

.sidenav-gt-sm-size {
    width: 50%;
}