<div class="basic-mode-content" [ngClass.gt-sm]="['basic-mode-content-gt-sm']">

    <mat-sidenav-container class="side-nav-container">
        <mat-sidenav #sidenav mode="over" position="end" [opened]="isCommandsPanelOppened" style="width: 100%;">
            <app-commands-panel></app-commands-panel>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-stats></app-stats>
            <div class="show-pannel-icon" (click)="showCommandsPanel()">
                <mat-icon>engineering</mat-icon>
            </div>
            <div>
                <div class="basic-mode-map">
                    <ng-template basic-mode-component-directive></ng-template>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
