<div class="array-class-member-option-list-content" fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="!areMemberOptionsVisible; else memberOptionList">
        <button mat-icon-button aria-label="Save file" (click)="showMemberOptions()">
            <mat-icon>arrow_drop_down_circle</mat-icon>
        </button>
    </div>
    <ng-template #memberOptionList>
        <div>.</div>
        <div>
            <form [formGroup]="componentFormGroup" class="warcommands-command-panel-command-mat-form">
                <mat-form-field>
                    <mat-select formControlName="memberSelected" #memberSelectElement>
                        <mat-option>Select an option</mat-option>
                        <mat-option value="-1">none</mat-option>
                        <mat-option *ngFor="let member of arrayClassOptionsDefinition.methods" [value]="member.value">
                            {{ member.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div>
            <container-element [ngSwitch]="memberSelected">
                <app-array-count 
                    *ngSwitchCase="'count'"
                    (classMemberChange)="onClassMemberSelected($event)"
                    [classMember]="classMember"
                    [commandId]="commandId">
                </app-array-count>
                <div *ngSwitchDefault></div>
            </container-element>
        </div>
    </ng-template>
</div>
