.drag-command-preview {
    background-color: #c94695;
    color: black;
    border-radius: 10px;
    padding: 0 20px;
    inline-size: max-content;
    height: 40px;

    .commands-drop-container {
        padding: 0 20px;
        border-radius:10px;
        background-color: #343746;
        color: #6272A4;
        height: 40px;
    }

    .condition-container {
        margin: 0px 5px;
    }

    .actions-container {
        margin-left: 5px;
    }
}
