<div fxLayout="row" fxLayoutAlign="space-between center">
    <div class="save-button-wrapper">
        <button mat-icon-button color="primary" aria-label="Save file" (click)="saveFile()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    <div #deleteButtonWrapper class="delete-button-wrapper">
        <div #deleteButtonDragableElement>
            <button mat-icon-button aria-label="Save file">
                <mat-icon>delete</mat-icon>
            </button>    
        </div>
    </div>
</div>

<mat-tab-group #filesTabGroup dynamicHeight (mouseover)="onMouseMove($event)">
    <mat-tab *ngFor="let file of fileList">
        <ng-template mat-tab-label>
            {{ file.name }}
        </ng-template>
        <div class="file-content">
            <app-file [fileData]="file"></app-file>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Add file
        </ng-template>
        Formulario creacion pagina o carga
    </mat-tab>
</mat-tab-group>