
.file-manager-content {

    .file-manager-buttons {
        padding-top: 6px;
        color: #6272A4;

        .delete-button-wrapper {
            border: 1px dashed grey;
            border-radius: 10px;
            padding: 4px 4px 0 4px;
            text-align: center;
        }
    }
}

