
.file-manager-content {

    .file-manager-buttons {
        padding-top: 6px;
        color: #6272A4;

        .delete-button-wrapper {
            border: 1px dashed grey;
            border-radius: 10px;
            padding: 7px 7px 3px 7px;
            text-align: center;
        }

        
    }
}

