
.if-then-content {
    display: inline-block;
}

.if-then-start {
    border-radius: 10px 10px 10px 0;
    padding: 0 20px;

    .if-then-label {
        .condition-command-container-wrapper {
            min-width: 100px;
            padding: 0px 10px;
        }
    }
}

.if-then-body {
    padding-left: 10px;
    border-radius: 0px 15px 15px 0;
}

.if-then-body-content {
    border-radius: 10px;
}

.if-then-end {
    border-radius: 0 10px 10px 10px;
    height: 60px;
    text-align: center;
}