<div class="if-then-content warcommands-command-panel-command">
    <div class="if-then-start">
        <div class="if-then-label" fxLayout="row" fxLayoutAlign="start center">
            <div>
                if (
            </div>
            <div class="condition-command-container-wrapper">
                <app-command-drop [commandContainerId]="conditionCommandContainerId" [isSingleCommand]="true"></app-command-drop>
            </div>
            <div>
                )
            </div>
        </div>
    </div>
    <div class="if-then-body">
        <div class="if-then-body-content">

            <app-command-drop  [commandContainerId]="thenCommandContainerId"></app-command-drop>

        </div>
    </div>
    <div class="if-then-end"></div>
</div>
