<div class="if-then-content">
    <div class="if-then-start">
        <div class="if-then-label" fxLayout="row" fxLayoutAlign="start center">
            <div>
                if (
            </div>
            <div [attr.MouseHelperDetectorCommandContainerId]="conditionCommandContainerId" class="condition-command-container-wrapper">
                <app-command-drop  [commandContainerId]="conditionCommandContainerId"></app-command-drop>
            </div>
            <div>
                )
            </div>
        </div>
    </div>
    <div class="if-then-body" [attr.MouseHelperDetectorCommandContainerId]="thenCommandContainerId">
        <div class="if-then-body-content">

            <app-command-drop  [commandContainerId]="thenCommandContainerId"></app-command-drop>

        </div>
    </div>
    <div class="if-then-end"></div>
</div>
