
<div class="set-variable-content" [ngClass]="commandContentDynamicClass" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon *ngIf="!isCommandValid">bug_report</mat-icon>
    <div>set</div>
    <div>
        <form [formGroup]="setVarForm">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <mat-form-field class="var-name-input warcommands-command-panel-input-height">
                        <input matInput type="text" formControlName="varName">
                    </mat-form-field>
                </div>
                <div>=</div>
                <div>
                    <mat-form-field class="var-value-input warcommands-command-panel-input-height">
                        <input matInput type="text" formControlName="varValue">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
