
<div class="set-variable-content warcommands-command-panel-command warcommands-command-panel-command-mat-form-black-font-color"
    [ngClass]="{ 'warcommands-command-panel-command-invalid': showCommandInvalidBackground }"
    fxLayout="row"
    fxLayoutAlign="center center">
    <div #errorsTooltip='matTooltip'
        [matTooltip]="formErrorMessage"
        [matTooltipClass]="'warcommands-command-panel-tooltip'"
        *ngIf="!isCommandValid" (click)="errorsTooltip.toggle()"
    >
        <mat-icon class="warcommands-command-panel-command-error-icon">bug_report</mat-icon>
    </div>
    <div>set</div>
    <div>
        <form [formGroup]="setVarForm" class="warcommands-command-panel-command-mat-form">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <mat-form-field class="var-name-input">
                        <input matInput type="text" formControlName="varName">
                    </mat-form-field>
                </div>
                <div>=</div>
                <div>
                    <mat-form-field class="var-value-input">
                        <input matInput type="text" formControlName="varValue">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
