

.set-variable-content {
    
    border-radius: 10px;
    padding: 0px 20px;
    inline-size: max-content;

    .var-name-input {
        padding: 0px 10px;
    }

    .var-value-input {
        padding-left: 10px;
    }
}