
<div #commandListDropContainer class="commands-list-content" id="command-list">
    <div #command class="dragable-command" [attr.commandType]="commandType.Game">
        <app-game-command-preview></app-game-command-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.SetVariable">
        <app-set-variable></app-set-variable>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.Variable">
        <app-variable></app-variable>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.IfThen">
        <app-if-then></app-if-then>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.IfThenElse">
        <app-if-then-else></app-if-then-else>
    </div>
</div>
