
<div #commandListDropContainer class="commands-list-content" id="command-list">
    <div #command class="dragable-command" [attr.commandType]="commandType.Game">
        <app-game-command-preview></app-game-command-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.SetVariable">
        <app-set-variable-preview></app-set-variable-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.SetVariableFromCommand">
        <app-set-variable-from-command-preview></app-set-variable-from-command-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.Variable">
        <app-variable-preview></app-variable-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.IfThen">
        <app-if-then-preview></app-if-then-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.LogicOperator">
        <app-logic-operator-command-preview></app-logic-operator-command-preview>
    </div>
    <div #command class="dragable-command" [attr.commandType]="commandType.IfThenElse">
        <app-if-then-else></app-if-then-else>
    </div>
</div>
