.commands-panel-content {
    width: 100%;
}

.commands-panel {
    margin: 25px;
}

.commands-list {
    margin: 20px 25px;

    .dragable-item {
        padding: 5px 0px;
    }
}

.command-component {
    padding-bottom: 10px;
}