.commands-panel-content {
    
    background-color: #282a36;

    .commands-list-panel {
        background-color: #21222C;
        color: #F8F8F2;
        overflow: auto;
        height: 100vh;
        width: 0;
        transition: 0.5s;

        .commands-list-wrapper {
            border-left: 1px solid #191A21;
            padding: 10px 10px 0 10px;
            min-width: fit-content;   
        }
    }

    .hide-panel {
        width:0 !important;
    }

    .program-editor-panel {
        border-left: 1px solid #191A21;
        height: 100vh;
        transition: 0.5s;
    }
}