<div class="introduction-component-content">
    <mat-stepper orientation="vertical">
        <mat-step label="Your first worker">
            <ng-template matStepContent>
                <app-first-worker></app-first-worker>
            </ng-template>
        </mat-step>
        <mat-step label="Resources">
            <ng-template matStepContent>
                <app-welcome></app-welcome>
            </ng-template>
        </mat-step>
        <mat-step label="Harvest">
            <ng-template matStepContent>
                <app-welcome></app-welcome>
            </ng-template>
        </mat-step>
        <mat-step label="Harvest">
            <ng-template matStepContent>
                <app-welcome></app-welcome>
            </ng-template>
        </mat-step>
    </mat-stepper>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="none">
    </ng-template>
    <ng-template matStepperIcon="edit">
        <mat-icon>school</mat-icon>
    </ng-template>
</div>
