<div class="introduction-component-content">
    <h1>Welcome to War Commands!!</h1>

    <p>
        Here you will have fun and learn to program.
    </p>
    <p>
        Don't panic, it will be easy, and fun, for everybody, and for all ages, from the youngest to the most senior at home.
    </p>
</div>
<div>
    <div class="wrap vert2">
        <mat-tab-group headerPosition="below">
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
          <mat-tab label="Fouth"> Content 4 </mat-tab>
          <mat-tab label="Fifth"> Content 5 </mat-tab>
          <mat-tab label="Sixth"> Content 6 </mat-tab>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
          <mat-tab label="Fouth"> Content 4 </mat-tab>
          <mat-tab label="Fifth"> Content 5 </mat-tab>
          <mat-tab label="Sixth"> Content 6 </mat-tab>
        </mat-tab-group>
      </div>      
</div>
