<div class="if-then-content">
    <div class="if-then-start">
        <div class="if-then-label">if ( lo que sea )</div>
    </div>
    <div class="if-then-body" [attr.MouseHelperDetectorCommandContainerId]="thenCommandContainerId">
        <div class="if-then-body-content">
            <app-command-drop  *ngIf="thenCommandContainerId" [commandContainerId]="thenCommandContainerId"></app-command-drop>

            <div *ngIf="!thenCommandContainerId" class="commands-drop-container"></div>
        </div>
    </div>
    <div class="if-then-else-start">
        <div class="if-then-else-label">then</div>
    </div>
    <div class="if-then-body" [attr.MouseHelperDetectorCommandContainerId]="elseCommandContainerId">
        <div class="if-then-body-content">
            <app-command-drop [commandContainerId]="elseCommandContainerId" *ngIf=elseCommandContainerId></app-command-drop>

            <div *ngIf="!elseCommandContainerId" class="commands-drop-container"></div>
        </div>
    </div>
    <div class="if-then-end"></div>
</div>
