<div class="welcome-component-content">
    <mat-stepper labelPosition="bottom">
        <mat-step>
            <h2>¡Welcome to Warcommands!</h2>
            <p>
                Here you will learn how to think as a problem solver.
                <br>
                Don't panic, it will be easy, for everybody,
                <br>
                and for all ages and don't forget, funny!!
            </p>
            <div>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                There is no need to have any developer skill,
                <br>
                you will learn everything from zero to hero,
                <br>
                the only thing you need is passion and be willing to learn while playing.
            </p>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                &nbsp;
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                So, the first you need to learn is how to open the tutorial!!
            </p>
            <p>
                Shall we start?
            </p>
            <div>
                <button mat-raised-button matStepperPrevious>Back</button>
                &nbsp;
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                To open the tutorial you only have to click the icon on the left bar that looks like that this one:
            </p>
            <p class="school-icon-placeholder">
                <mat-icon class="school-icon">school</mat-icon>
            </p>
            <p>
                But first you should close me!
            </p>
            <p>
                <button mat-raised-button (click)="close()">Close me!</button>
            </p>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="none">
        </ng-template>
        <ng-template matStepperIcon="edit">
            <mat-icon>school</mat-icon>
        </ng-template>
    </mat-stepper>
</div>
