/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.commands-drop-container .command {
    margin: 0 0 10px 10px;
}

.commands-drop-container .command:last-child {
    margin-bottom: 0;
}

.commands-drop-container .command:only-child {
    margin: 0;
}

.commands-drop-container-single-command {
    .warcommands-command-panel-command {
        border-radius: 0 !important;
    }
}

.commands-list-content {

    .draggable-command, .drag-command-preview {
        margin-bottom: 10px;
    }
    
}

.warcommands-command-panel-loader {
    .mat-progress-spinner circle,.mat-spinner circle {
        stroke: #6272A4;
    }
}

.warcommands-command-panel-tooltip {
    white-space: pre-line;
    background: #424450;
    font-size: inherit;
    border: 1px solid #191A21;
}

.warcommands-command-panel-command-error-icon {
    margin-right: 10px;
}

$purple: #BD93F9;
$dark-purple: #8b65c6;
$cyan: #8BE9FD;
$green: #50FA7B;
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$pink: #ff79c6;
$dark-pink: #c94695;

@mixin warcommands-command-panel-command-mat-form($fontColor) {

    .mat-form-field-infix {
        padding: 0.2em 0 0 0;
        border-top: 0;
    }

    .mat-form-field {
        line-height: 1em;
        
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-underline {
        bottom: 0;
        background-color: $fontColor;
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field-ripple {
        background-color: $fontColor !important;
    }

    .mat-form-field-invalid .mat-input-element {
        caret-color: $fontColor;
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: $fontColor;
    }

    .mat-form-field-hide-placeholder .mat-select-placeholder {
        color: $fontColor;
    }

    .mat-select-value {
        color: $fontColor;
    }

    .mat-select-arrow {
        color: $fontColor;
    }
}

@mixin command-panel-command-components($backgroundColor, $fontColor) {
    &__background {
        min-height: 60px;
        background-color: $backgroundColor;
    }
    
    &__color {
        color: $fontColor;
        
        @include warcommands-command-panel-command-mat-form($fontColor)
    }
}

@mixin command-panel-command($backgroundColor, $fontColor) {
    
    &__valid {
        @include command-panel-command-components($backgroundColor, $fontColor)
    }

    &__invalid {
        @include command-panel-command-components($red, $white)
    }
}

.set-variable-from-command--command {
    @include command-panel-command($purple, $black);
}

.set-variable--command {
    @include command-panel-command($purple, $black);
}

.game--command {
    @include command-panel-command($cyan, $black);
}
.game-loop--command {
    @include command-panel-command($green, $black);
}

.if-then--command {
    @include command-panel-command($dark-pink, $black);
}

.variable--command {
    @include command-panel-command($dark-purple, $black);
}

.logic-operator--command {
    @include command-panel-command($pink, $black);
}


/**
*
*   A-Frame styles
*
**/

.rs-base {
    left: 50px !important;
}

/**
*
*   Tutorial overlay styles
*   
*   Inspired by https://freefrontend.com/css-ripple-effects/ RIPPLE ANIMATION BUTTON example
*
*/
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    &.dark-backdrop {
      /*background: #000;
      opacity: 0.85 !important;*/
    }
  }

@mixin rings($duration, $delay) {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: -8px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(255,255,255,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
}

.tutorial-highlight-element {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
  
  &::after {
    @include rings(2s, 0s);
  }
  
  &::before {
    @include rings(2s, 0.5s);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}