<div class="logic-operator-command-content warcommands-command-panel-command warcommands-command-panel-command-mat-form-black-font-color"
    fxLayout="row"
    fxLayoutAlign="start center">
    <div>
        <div class="first-command-container-wrapper">
            <app-command-drop  [commandContainerId]="firstCommandContainerId" [isSingleCommand]="true"></app-command-drop>
        </div>
    </div>
    <div class="comparison-operator">
        <form [formGroup]="componentFormGroup" class="warcommands-command-panel-command-mat-form">
            <mat-form-field class="comparsion-operator-input-wrapper">
                <mat-select formControlName="logicOperator">
                    <mat-option>Select an option</mat-option>
                    <mat-option *ngFor="let option of logicOperatorOptions" [value]="option.value">
                        {{ option.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div>
        <div class="second-command-container-wrapper">
            <app-command-drop  [commandContainerId]="secondCommandContainerId" [isSingleCommand]="true"></app-command-drop>
        </div>
    </div>

</div>