<div class="set-role-content" style="height: 58px;">
    <form [formGroup]="componentFormGroup">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div>(</div>
            <div>
                <mat-form-field>
                    <mat-select formControlName="roleSelected">
                        <mat-option>Select an option</mat-option>
                        <mat-option *ngFor="let option of workerRoleOptions" [value]="option.value">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>)</div>
        </div>
    </form>
</div>