<div class="get-workers-content" fxLayout="row" fxLayoutAlign="center center">
    <div>(</div>
    <div>
        <form [formGroup]="componentFormGroup" class="warcommands-command-panel-command-mat-form">
            <mat-form-field>
                <mat-select formControlName="role" #memberSelectElement>
                    <mat-option>Select an option</mat-option>
                    <mat-option *ngFor="let member of workerRoleOptions" [value]="member.value">
                        {{ member.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div>)</div>

    <app-array-class-member-option-list
        (classMemberChange)="onClassMemberSelected($event)"
        [classMember]="getWorkerListClassMethodMember.methodChained"
        [commandId]="commandId">
    </app-array-class-member-option-list>
</div>
