.set-variable-from-command-content {
    background-color: rgb(140, 207, 39);
    color: black;
    border-radius: 10px;
    padding: 10px;
    inline-size: max-content;

    .set-label {
        padding-right: 10px;
    }

    .assignment-operator {
        padding: 0px 10px;
    }

}
