<div class="tutorial-first-worker-content">
    <mat-stepper labelPosition="bottom" #stepper selectedIndex={{selectedIndex}}>
        <mat-step>
            <p>
                As you will see you have to develop a survival strategy as the Commander in charge.
            </p>
            <p>
                So you have to give commands by typing commands.
            </p>
            <p>
                Remember this is War Commands!
            </p>
            <div class="button-holder">
                <button mat-raised-button (click)="next()">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                So your first command will be to create a worker to harvest resources
            </p>
            <div class="worker-img-placeholder">
                <img src="assets/img/worker.png">
            </div>
            <div class="button-holder">
                <button mat-raised-button (click)="back()">Back</button>
                <button mat-raised-button (click)="next()">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                Drag the <span class="game-command">Game</span> command inside the <span class="game-loop-command">gameLoop()</span> command.
            </p>
            <div class="button-holder">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                From <span class="game-command">Game</span> command select the <span class="game-command">getBaseByName</span> and then <span class="game-command">createWorker</span>.
            </p>
            <div class="button-holder">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                Save the file by clicking this icon on the top bar
            </p>
            <p>
            <div class="icon-placeholder">
                <mat-icon class="icon">save</mat-icon>
            </div>
            <div class="button-holder">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                Go to the game world by clicking this icon on the left bar
            </p>
            <p>
            <div class="icon-placeholder">
                <mat-icon class="icon">sports_esports</mat-icon>
            </div>
            <div class="button-holder">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <p>
                To execute or pause our command we have to click to this icons on the left bar:
            </p>
            <p>
                Lets go to rock & roll!
            </p>
            <p>
            <div class="icon-placeholder">
                <mat-icon class="icon">play_arrow</mat-icon>
                &nbsp;
                <mat-icon class="icon">pause</mat-icon>
            </div>
            <div class="button-holder">
                <button mat-raised-button matStepperPrevious>Back</button>
            </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="none">
        </ng-template>
        <ng-template matStepperIcon="edit">
            <mat-icon>school</mat-icon>
        </ng-template>
    </mat-stepper>
</div>
