<div class="vr-mode-content" [ngClass.gt-sm]="['vr-mode-content-gt-sm']">

    <div fxLayout="row">
        <div fxflex="40" class="actions-bar">
            <button mat-icon-button aria-label="Show game playground" (click)="toggleCommandsPanel()" *ngIf="isCommandsPanelOppened">
                <mat-icon>sports_esports</mat-icon>
            </button>
            <button mat-icon-button aria-label="Show code panel" (click)="toggleCommandsPanel()" *ngIf="!isCommandsPanelOppened">
                <mat-icon>code</mat-icon>
            </button>
            <button mat-icon-button aria-label="Starts game" (click)="onResumeGame()" *ngIf="isGamePaused">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-icon-button aria-label="Pause game" (click)="onPauseGame()" *ngIf="!isGamePaused">
                <mat-icon>pause</mat-icon>
            </button>
            <button mat-icon-button aria-label="Togle command instructions" (click)="toggleCommandList()">
                <mat-icon>table_rows</mat-icon>
            </button>
            <button mat-icon-button aria-label="Toggle A-Frame statistics panel" (click)="toggleStatsPanel()">
                <mat-icon>query_stats</mat-icon>
            </button>
            <a id="enterARButton">
                <button mat-icon-button aria-label="View in Augmented Reality">
                    <mat-icon>view_in_ar</mat-icon>
                </button>
            </a>
            <a id="enterVRButton">
                <button mat-icon-button aria-label="View in Virtual Reality">
                    <mat-icon>vrpano</mat-icon>
                </button>
            </a>
        </div>

        <div fxFlex class="collapsible-panel">
            <div class="collapsible-content" [ngClass]="{'active': isCommandsPanelOppened}">
                <app-commands-panel></app-commands-panel>
            </div>
        </div>
    </div>

    <div class="game-content">
        <app-a-frame-holder></app-a-frame-holder>
    </div>
</div>