<div class="vr-mode-content" [ngClass.gt-sm]="['vr-mode-content-gt-sm']">

    <div class="game-content">
        <app-a-frame-holder></app-a-frame-holder>
    </div>

    <div fxLayout="row" class="game-commands-panels">
        <div fxflex="40" class="actions-bar">
            <div fxLayout="column" class="buttons-group">
                <button mat-icon-button aria-label="Show game playground" (click)="toggleCommandsPanel()" *ngIf="isCommandsPanelOpened">
                    <mat-icon>sports_esports</mat-icon>
                </button>
                <button mat-icon-button aria-label="Show code panel" (click)="toggleCommandsPanel()" *ngIf="!isCommandsPanelOpened">
                    <mat-icon>code</mat-icon>
                </button>
                <button mat-icon-button aria-label="Togle command instructions" (click)="toggleCommandList()">
                    <mat-icon>smart_toy</mat-icon>
                </button>
            </div>
            <div fxLayout="column" class="buttons-group">
                <button mat-icon-button aria-label="Starts game" [disabled]="!isGameLoaded" (click)="onResumeGame()" *ngIf="isGamePaused">
                    <mat-icon>play_arrow</mat-icon>
                </button>
                <button mat-icon-button aria-label="Pause game" (click)="onPauseGame()" *ngIf="!isGamePaused">
                    <mat-icon>pause</mat-icon>
                </button>
                <button mat-icon-button aria-label="Fast forward" (click)="speedUp()">
                    <mat-icon>fast_forward</mat-icon>
                </button>
                <div class="game-speed">
                    {{gameSpeed}}x
                </div>
                <button mat-icon-button aria-label="Fast rewind" (click)="slowDown()">
                    <mat-icon>fast_rewind</mat-icon>
                </button>
            </div>
            <div fxLayout="column" class="buttons-group">
                <button mat-icon-button aria-label="Toggle A-Frame statistics panel" (click)="toggleStatsPanel()">
                    <mat-icon>query_stats</mat-icon>
                </button>
                <a id="enterARButton">
                    <button mat-icon-button aria-label="View in Augmented Reality">
                        <mat-icon>view_in_ar</mat-icon>
                    </button>
                </a>
                <a id="enterVRButton">
                    <button mat-icon-button aria-label="View in Virtual Reality">
                        <mat-icon>vrpano</mat-icon>
                    </button>
                </a>
            </div>
            <div fxLayout="column" class="buttons-group" #TutorialButtonElement>
                <button mat-icon-button aria-label="Show tutorial" (click)="openTutorial()">
                    <mat-icon>school</mat-icon>
                </button>
            </div>
        </div>

        <div fxFlex class="collapsible-panel">
            <div class="collapsible-content" [ngClass]="{'active': isCommandsPanelOpened}">
                <app-commands-panel></app-commands-panel>
            </div>
        </div>
    </div>
</div>
