<div class="variable-content warcommands-command-panel-command"
    [ngClass]="{ 'game--command__invalid__background': showCommandInvalidBackground, 'game--command__valid__background': !showCommandInvalidBackground }"
    fxLayout="row" fxLayoutAlign="center center">
    <div [ngClass]="{ 'game--command__invalid__color': showCommandInvalidBackground, 'game--command__valid__color': !showCommandInvalidBackground }"
        fxLayout="row" fxLayoutAlign="center center">
        <div>
            Game
        </div>

        <app-game-class-member-options-list (classMemberChange)="onClassMemberSelected($event)"
            [classMember]="gameCommandClassMember" [commandId]="gameCommand.id">
        </app-game-class-member-options-list>
    </div>
</div>