<div class="variable-content" fxLayout="row" fxLayoutAlign="center center">
    <div>
        Game.
    </div>
    <div style="height: 58px;">
        <mat-form-field appearance="">
            <mat-select [(value)]="memberSelected">
                <mat-option>Select an option</mat-option>
                <mat-optgroup label="Methods">
                    <mat-option *ngFor="let member of gameCommandClassDefinition.methods" [value]="member.value">
                        {{ member.label }}
                    </mat-option>
                </mat-optgroup>
                <mat-optgroup label="Properties">
                    <mat-option *ngFor="let member of gameCommandClassDefinition.properties" [value]="member.value">
                        {{ member.label }}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <container-element [ngSwitch]="memberSelected">
            <app-get-base-by-index 
                *ngSwitchCase="'getBaseByName'"
                (gameCommandBaseSelectedMember)="onBaseMemberSelected($event)"
                (gameCommandBaseName)="onBaseNameChange($event)">
            </app-get-base-by-index>
    
            <div *ngSwitchCase="'resources'">
                resources
            </div>

            <div *ngSwitchDefault></div>
        </container-element>
    </div>
</div>
