
.game-loop-content {
    min-width: 234px;
}

.game-loop-start {
    border-radius: 10px 10px 10px 0;
    padding: 0 20px;
    height: 60px;

    .game-loop-label {
        min-width: max-content;
    }
}

.game-loop-body {
    padding-left: 10px;
    border-radius: 0 15px 15px 0;
}

.game-loop-end {
    border-radius: 0 10px 10px 10px;
    height: 60px;
    text-align: center;
}