<div class="player-resources-content" fxLayout="row" fxLayoutAlign="center center">
    <div class="matter" fxLayout="row" fxLayoutAlign="center center">
        <div class="matterIcon">
            <mat-icon [inline]="true">memory</mat-icon>
        </div>
        <div>
            {{ baseResources.matter }}
        </div>
    </div>
    <div class="energy"fxLayout="row" fxLayoutAlign="center center">
        <div class="energyIcon">
            <mat-icon [inline]="true">offline_bolt</mat-icon>
        </div>
        <div>
            {{ baseResources.energy }}
        </div>
    </div>
</div>>