<div class="get-base-by-index-content" fxLayout="row" fxLayoutAlign="center center">
    <div #errorsTooltip='matTooltip'
        [matTooltip]="formErrorMessage"
        [matTooltipClass]="'warcommands-command-panel-tooltip'"
        *ngIf="!isCommandValid" (click)="errorsTooltip.toggle()"
    >
        <mat-icon class="warcommands-command-panel-command-error-icon">bug_report</mat-icon>
    </div>
    <div>
        <form [formGroup]="componentFormGroup" class="warcommands-command-panel-command-mat-form">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>
                    (
                </div>
                <div>
                    <mat-form-field class="base-name-input">
                        <input matInput type="text" formControlName="baseName">
                    </mat-form-field>
                </div>
                <div>
                    )
                </div>
                <app-base-class-member-option-list
                    (classMemberChange)="onClassMemberSelected($event)"
                    [classMember]="baseByNameClassMethodMember.methodChained">
                </app-base-class-member-option-list>
            </div>
        </form>
    </div>
</div>