<div class="game-class-member-options-list-content" fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="!areMemberOptionsVisible; else memberOptionList">
        <button mat-icon-button aria-label="Save file" (click)="showMemberOptions()">
            <mat-icon>arrow_drop_down_circle</mat-icon>
        </button>
    </div>
    <ng-template #memberOptionList>
        <div>.</div>
        <div #errorsTooltip='matTooltip'
            [matTooltip]="formErrorMessage"
            [matTooltipClass]="'warcommands-command-panel-tooltip'"
            *ngIf="!isCommandValid" (click)="errorsTooltip.toggle()"
        >
            <mat-icon class="warcommands-command-panel-command-error-icon">bug_report</mat-icon>
        </div>
        <form [formGroup]="componentFormGroup" class="warcommands-command-panel-command-mat-form">
            <div>
                <mat-form-field>
                    <mat-select formControlName="memberSelected" #memberSelectElement color="mat-command-color">
                        <mat-option>Select an option</mat-option>
                        <mat-option value="-1">none</mat-option>
                        <mat-optgroup label="Methods">
                            <mat-option *ngFor="let member of gameCommandClassDefinition.methods" [value]="member.value">
                                {{ member.label }}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <div>
            <container-element [ngSwitch]="memberSelected">
                <app-get-base-by-index 
                    *ngSwitchCase="'getBaseByName'"
                    (classMemberChange)="onClassMemberSelected($event)"
                    [classMember]="classMember"
                    [commandId]="commandId">
                </app-get-base-by-index>

                <div *ngSwitchCase="'resources'">
                    resources
                </div>

                <div *ngSwitchDefault></div>
            </container-element>
        </div>
    </ng-template>
</div>