
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

table td {
    vertical-align: top;
    padding: 0px;
}

.user-command-column {
    width: 100%;
}

.command-editor-wrapper {
    border:dashed 1px #6272A4;
    border-radius:10px;
    background-color: #343746;
    min-width: fit-content;
    margin-bottom: 20px;
    display: inline-block;

    &:hover {
        background-color: #21222C;
    }

    .command-drop-number-lines {

        .line-number {
            margin: 21px 10px 29px 10px;
            color: #6272A4;
        }

        .line-number:first-child {
            margin: 28px 10px 29px 10px;
        }

        .line-number:last-child {
            margin: 22px 10px 0 10px;
        }
    }
}

.commands-drop-container {
    min-width: fit-content;
    padding: 10px 20px 10px 20px;
    min-height:80px;
    border-radius:10px;
    overflow:hidden;
    background-color: #343746;

    &:hover {
        background-color: #21222C;
    }
}

.commands-drop-container-single-command {
    padding: 0;
    min-height:60px;
}

.file-command-container {
    background: none;
    padding: 10px 0 10px 30px;
    left: -30px;
    position: relative;

    &:hover {
        background: none;
    }
}

