.commands-drop-container {
    min-width: fit-content;
    padding: 10px 10px 10px 20px;
    min-height:80px;
    border-radius:10px;
    overflow:hidden;
    background-color: #343746;

    &:hover {
        background-color: #21222C;
    }

    .line-number {
        margin: 22px 10px 29px 0;
        color: #6272A4;
    }

    .line-number:last-child {
        margin: 22px 10px 0 0;
        color: #6272A4;
    }
}

.commands-drop-container-single-command {
    padding: 0;
    min-height:60px;
}

.scroll-gap {
    border:dashed 1px #6272A4
}