<div [ngClass]="{'command-editor-wrapper': fileContentElement}">
    <div *ngIf="fileContentElement" class="command-drop-number-lines" fxLayout="column" fxLayoutAlign="start start">
        <div *ngFor="let number of numberOfLines" class="line-number">
            {{ number }}
        </div>
    </div>


    <div>
        <div #commandsDropContainer class="commands-drop-container"
            [ngClass]="{'commands-drop-container-single-command': isSingleCommand, 'file-command-container': fileContentElement}"
            id="{{ commandContainer.id }}" [attr.fileId]="commandContainer.fileId"
            [attr.MouseHelperDetectorCommandContainerId]="commandContainer.id" fxLayout="column" fxLayoutAlign="start start">
            <div #commandsEditorElement>
                <div *ngFor="let command of commandList" class="command" [attr.dirty]="true" [attr.itemId]="command.id">
                    <ng-template command-directive></ng-template>
                </div>
            </div>
        </div>
    </div>
</div>