.commands-drop-container {
    min-width: fit-content;
    /*border:dashed 1px #ccc;*/
    padding: 10px 0 10px 20px;
    min-height:60px;
    border-radius:10px;
    overflow:hidden;
    background-color: #424242;

    &:hover {
        background-color: #575555;
    }

    .command {
        /*padding: 5px 0px;*/
    }
}

.commands-drop-container-single-command {
    padding: 0;
}

.scroll-gap {
    border:dashed 1px #ccc
}