<div class="get-worker-content" fxLayoutAlign="center center">
    <div style="height: 58px;">
        <form [formGroup]="componentFormGroup">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>(</div>
                <div>
                    <mat-form-field class="worker-index-input">
                        <input matInput type="number" min="0" formControlName="worker">
                    </mat-form-field>
                </div>
                <div>)</div>
            </div>
        </form>
    </div>
    <div>
        <app-worker-class-member-option-list
            (classMemberChange)="onClassMemberSelected($event)"
            [classMember]="getWorkerClassMember.methodChained">
        </app-worker-class-member-option-list>
    </div>
</div>