<div class="get-worker-content warcommands-command-panel-command" fxLayoutAlign="center center">
    <div #errorsTooltip='matTooltip'
        [matTooltip]="formErrorMessage"
        [matTooltipClass]="'warcommands-command-panel-tooltip'"
        *ngIf="!isCommandValid" (click)="errorsTooltip.toggle()"
    >
        <mat-icon class="warcommands-command-panel-command-error-icon">bug_report</mat-icon>
    </div>
    <div>
        <form [formGroup]="componentFormGroup" class="warcommands-command-panel-command-mat-form">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div>(</div>
                <div>
                    <mat-form-field class="worker-index-input">
                        <input matInput type="number" min="0" formControlName="worker">
                    </mat-form-field>
                </div>
                <div>)</div>
            </div>
        </form>
    </div>
    <div>
        <app-worker-class-member-option-list
            (classMemberChange)="onClassMemberSelected($event)"
            [classMember]="getWorkerClassMemberMethodChained"
            [commandId]="commandId">
        </app-worker-class-member-option-list>
    </div>
</div>