.tile {

    position: absolute;

    .tile-grass {
        width: 98px;
        height: 98px;
        background-color: #42f542;
        border: 1px solid #01ac01;
    }
    
    .tile-sand {
        width: 98px;
        height: 98px;
        background-color: #a87132;
        border: 1px solid #a35802;
    }

    .tile-water {
        width: 98px;
        height: 98px;
        background-color: #3cc0e0;
        border: 1px solid #4673ec;
    }
}
