.drag-command-preview {
    background-color: #ff79c6;
    color: black;
    border-radius: 10px;
    padding: 0 20px;
    inline-size: max-content;
    height: 40px;

    .commands-drop-container {
        padding: 0 20px;
        border-radius:10px;
        overflow:hidden;
        background-color: #343746;
        color: #6272A4;
        height: 40px;

    }

    .comparison-label {
        padding: 0px 5px;
    }

}
