.base {
    position: absolute;
    background-color: slategray;

    .spawn {
        position: absolute;
        background-color: rgb(4, 55, 61);
    }

    .spinner {
        position: absolute;
        transform-origin: left top;
    }

    .unit-in-queue {
        position: absolute;
        border: 1px solid blue;
    }

    .colorBlue {
        background-color: lightblue;
    }
    
    .colorRed {
        background-color: red;
    }
}