<div class="variable-content warcommands-command-panel-command"
    [ngClass]="{ 'variable--command__invalid__background': showCommandInvalidBackground, 'variable--command__valid__background': !showCommandInvalidBackground }"
    fxLayoutAlign="center center">
    <div [ngClass]="{ 'variable--command__invalid__color': showCommandInvalidBackground, 'variable--command__valid__color': !showCommandInvalidBackground }"
        fxLayout="row"
        fxLayoutAlign="center center">

        <div #errorsTooltip='matTooltip' [matTooltip]="formErrorMessage"
            [matTooltipClass]="'warcommands-command-panel-tooltip'" *ngIf="!isCommandValid"
            (click)="errorsTooltip.toggle()">
            <mat-icon class="warcommands-command-panel-command-error-icon">bug_report</mat-icon>
        </div>

        <div>
            <form [formGroup]="commandForm" class="warcommands-command-panel-command-mat-form">
                <mat-form-field>
                    <mat-select formControlName="variable">
                        <mat-option [value]="''">Select a variable</mat-option>
                        <mat-option *ngFor="let option of variableOptionList" [value]="option.value">{{ option.label }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <div>
            <ng-container *ngIf="hasMemberOptions">
                <ng-template warcommandsClassMemberDirective></ng-template>
            </ng-container>
        </div>
    </div>
</div>
