<div class="variable-content warcommands-command-panel-command warcommands-command-panel-command-mat-form-black-font-color"
    fxLayout="row"
    fxLayoutAlign="center center">
    <div>
        <form [formGroup]="variableCommandForm" class="warcommands-command-panel-command-mat-form">
            <mat-form-field>
                <mat-select formControlName="variable">
                    <mat-option [value]="''">Select a variable</mat-option>
                    <mat-option *ngFor="let option of variableOptionList" [value]="option.value">{{ option.label }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div>
        <ng-container *ngIf="hasMemberOptions">
            <ng-template class-member></ng-template>
        </ng-container>
    </div>
</div>
